* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #540202;
  min-height: 100vh;
}

button {
  font-family: inherit;
}

/* estilo da pagona inicial */
.home {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.card {
  width: 100%;
  max-width: 500px;

  background: rgb(242, 172, 172);

  padding: 50px 30px;

  border-radius: 25px;

  text-align: center;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.heart {
  font-size: 70px;

  margin-bottom: 20px;
}

.card h1 {
  font-size: 32px;

  margin-bottom: 15px;
}

.card p {
  color: #666;

  margin-bottom: 35px;
}

.buttons {
  display: flex;

  justify-content: center;

  gap: 15px;
}

.buttons button {
  border: none;

  padding: 14px 30px;

  border-radius: 12px;

  font-size: 16px;

  font-weight: bold;

  cursor: pointer;

  transition: transform 0.2s;
}

.yes-button {
  background: #da1e1ef6;

  color: #161515;
}

.no-button {
  background: #f27878;

  color: #161515;
}

.buttons button:hover {
  transform: scale(1.05);
}

.no-button.escaping {
  position: fixed;
  z-index: 1000;

  transition:
    left 0.15s ease,
    top 0.15s ease;
}


/* Estilo da pagina de DataTime */
.page {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;

  gap: 10px;

  margin-bottom: 25px;

  text-align: left;
}

.form label {
  font-weight: bold;

  margin-top: 10px;
}

.form input {
  width: 100%;

  padding: 12px;

  border: 1px solid #ddd;

  border-radius: 10px;

  font-size: 16px;
}

.continue-button {
  width: 100%;

  border: none;

  padding: 14px;

  border-radius: 12px;

  background: #da1e1ef6;

  color: white;

  font-size: 16px;

  font-weight: bold;

  cursor: pointer;

  transition: transform 0.2s;
}

.continue-button:hover {
  transform: scale(1.03);
}


/* Estilo da pagina de typeSelecition */
.choice-buttons {
  display: flex;
  flex-direction: column;

  gap: 15px;

  margin-top: 30px;
}

.choice-button {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 12px;

  padding: 18px;

  border: none;
  border-radius: 15px;

  background: #ff4f81;
  color: white;

  font-size: 18px;
  font-weight: bold;

  cursor: pointer;

  transition: transform 0.2s;
}

.choice-button:hover {
  transform: scale(1.03);
}

.choice-button:first-child {
  background: #ff6f91;
}

.choice-button:last-child {
  background: #ff4f81;
}

.choice-button span {
  font-size: 16px;
}

.selected-message {
  margin-top: 20px;

  color: #666;
}

/* Estilo da pagina de foods */

.other-food {
  display: flex;
  flex-direction: column;

  gap: 10px;

  margin-top: 25px;

  text-align: left;
}

.other-food label {
  font-weight: bold;
}

.other-food input {
  width: 100%;

  padding: 12px;

  border: 1px solid #ddd;
  border-radius: 10px;

  font-size: 16px;

  outline: none;
}

.other-food input:focus {
  border-color: #ff4f81;
}